doctype html
html
  head
    title Chdd - #{title}
    block styles
      link(rel='stylesheet', href='app.css')
    block scripts

  body
    block header
    block content
    block footer
      #footer
        p some footer coc  a ntent
